#loginpage{
	    text-align: center; 
	    border-radius: 20px;
	    width: 300px;
	    height: 350px;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
}
html{
    font-size:20px;
}
#title { 
	width:100%; 
	display:block; 
	line-height:1.5em; 
	overflow:visible; 
	font-size:22px; 
	text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0;
	color: coral;
	}
	
/*private-room css*/	
#dad{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 60rem;
	height: 50rem;
}
#son{
	width:20rem;
	height: 50rem;
	margin-left: 3rem;
}
#private-room{
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
	margin-left: 10rem;
	width: 35rem;
	height: 50rem;
}
#welcome-words{
	width:30rem;
	line-height:1.5em; 
	overflow:auto; 
	font-size:22px; 
	text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0;
	color: indianred;
}
#usersinroom{
	width: 30rem;
	text-align: left;
	height: 1.2rem;
}
#founderofroom{
	width: 30rem;
	text-align: left;
	height: 1.2rem;
}
#roomsend{
	width: 30rem;
	text-align: left;
	height: 1rem;
}
#privatemsg-wrap{
	width: 30rem;
	text-align: left;
	height: 1rem;
}
#roomchatlog{
	width: 30rem;
	height:30rem;
	text-align: left;
	overflow: auto;
	border:1px solid palevioletred;
	background:url('lobbybackground.jpg') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.roomchat{
	width: 30rem;
	text-align: left;
	margin-top:1rem;
}
#leave-wrap{
	width: 30rem;
	text-align: left;
	margin-top:1rem;
	height: 1rem;
}

/*privilege css*/
#founder-privilege{
	margin-top:15rem;
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
	width: 15rem;
	height: 10rem;
}
#invite{
	width: 15rem;
	text-align: left;
	height: 1rem;
}
#ban{
	width: 15rem;
	text-align: left;
	height: 1rem;
}
#kickout{
	text-align: left;
	width: 15rem;
	height: 1rem;
}
#cancel{
	width: 15rem;
	text-align: left;
	height: 1rem;
}

/*privilege-only css*/
#founder-only-privilege{
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
	width: 15rem;
	height: 5rem;
}
#author{
	width: 15rem;
	text-align: left;
	height: 1rem;
}
#change{
	width: 15rem;
	text-align: left;
	height: 1rem;
}

/*lobby css*/
#lobby{
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
	border-radius: 20px;
	width: 35rem;
	height: 50rem;
	margin-left: 15rem;
}
#lobbytitle{
	width:30rem;
	height:1.5rem; 
	overflow:auto; 
	font-size:22px; 
	text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0;
	color: indianred;
}
#available-room{
	width: 30rem;
	text-align: left;
}
#joinlobby{
	width: 30rem;
	text-align: left;
}
#sendlobby{
	width: 30rem;
	text-align: left;
}
#createlobby{
	width: 30rem;
	text-align: left;
}
#chatlog{
	width: 30rem;
	height:30rem;
	text-align: left;
	overflow: auto;
	  border:1px solid palevioletred;
	background:url('lobbybackground.jpg') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.lobbychat{
	width: 30rem;
	text-align: left;
	margin-top:1rem;
}
#logout-wrap{
	width: 30rem;
	text-align: left;
}


/*https://huilang.me/perfect-full-page-background-image/*/
body {
	background:url('background.jpg') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	 outline-style: none ;
	    border: 1px solid #ccc; 
	    border-radius: 3px;	
}